.App {
  text-align: center;
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.country-item{
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
}

.country-item img {
  width: 100px;
  height: 60px;
  margin-bottom: 10px;
}

.country-item p {
  
  font-weight: bold;
}

